@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.create{
  display: flex;
}

.inicio{
  display: flex;
 float: left;
 
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(85, 53, 126);
}


.title{
      position: absolute;
      left:40%;
      font-size: 15px;
      font-family: 'Press Start 2P', cursive;
      margin-left: -300px; 
      animation-duration: 2s;
      animation-name: name;
      color:white;
      top: 20px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin: 0;
}
.render{
  background: black;
    color: whitesmoke;
    border-color: white;
    position: absolute;
    top: 200px;
    left: 100px;
    font-family: helvetica neue, helvetica, sans-serif;
}


.render:hover {
  background: black;
  border-color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}


.all-select{
	padding: 10px;
	overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  top: 20px;
  
  
}
.A{
    margin: 1em;
    padding: 1em;
    float: left;

    
    
}
.B{
    margin: 1em;
    padding: 1em;
    float: left;
}
.C{
    margin: 1em;
    padding: 1em;
    float: left;
}
.D{
    margin: 1em;
    padding: 1em;
    float: left;
}

.buttonCREATE {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: absolute;
    top: 10px;
    left: 1200px;
}

.buttonCREATE:hover {
  background-color: black; /* Green */
  color: white;
}
.buttonBACK{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: absolute;
    top: 10px;
    left: 50px;
}

.buttonBACK:hover {
  background-color: black; /* Green */
  color: white;
}