@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-content: center;
  
}
.cartas div {
  width: 40%;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background: rgb(231, 231, 241);
  background: radial-gradient(
    circle,
    rgba(231, 231, 241, 1) 0%,
    rgba(185, 185, 231, 1) 51%,
    rgba(255, 251, 251, 1) 100%
  );
  border-radius: 40px;
  color: rgb(78, 5, 112);
  
}


.foto {
  width: 100px;
  height: 150px;
}

.genero{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


.nombre {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  color: crimson;
  display: block;
  
}

.details {
  transform: rotate(-5deg);
  display: block;
  position: relative;
  padding: 1.2em 2em;
  font-family: helvetica neue, helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: mintcream;

  color: white;
  background: crimson;
  border: 0;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.details:hover {
  color: rgb(54, 6, 54);
}

.details:after {
  box-sizing: border-box;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0.2em solid black;
  border-radius: 0.2em;
  transition: all 0.15s ease-out;
}

.details:hover:after {
  top: 0;
  left: 0;
}


