@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");



.input {
  border-radius: 30px;
  width: 500px;
  position: absolute;
  left: 440px;
  top: 150px;
}

.input::placeholder{
    color: rgb(129, 8, 129);
    
}

.search  {
  background: black;
    color: whitesmoke;
    border-color: white;
    position: absolute;
    top: 120px;
    left: 650px;
    font-family: helvetica neue, helvetica, sans-serif;
  }
  .search:hover {
    background: black;
  border-color: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  }
