.bodylanding{
    background:url('video-game-play-classic-retro-games_android_1816_1.png');
    width :1280px;
    height: 553px;
    /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;
  }
  
 .h1 {

    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      display: block;
      font-size: 2em;
     
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }

  .button{ /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);}